body {
 background-image: url("paintings/index/clouds.gif");
 background-color: #cccccc;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
html, body {
  cursor: url('cursor.png'), default;
  
}
.glow{
  outline: 0 0 10px red; /* set the initial box-shadow color and size */
  z-index: 9999;
  position: relative;

}

.glow:hover{
  outline: 0 0 30px red; /* change the box-shadow color and size on hover */
  transition: box-shadow 0.5s ease-in-out;
  z-index: 9999;
  
  
  
}
img {
  position: relative; /* add position:relative to the img element */
  z-index: 0; /* set a lower z-index value for the img element */
}  


.map area {
  position: relative;
  display: inline-block;
  padding: 10px;
  transition: opacity 0.2s ease-in-out;
  opacity: 1;
  z-index: 2;
}

.map area:hover {
  opacity: 0.7;
}
